{% extends 'site_layout.html' %} 

{% block head %} 

{{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ site_url() }}/assets/css/Admin/StudentsDetails.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    
{% endblock %}


{% block site_content %}

    <div class="row" id="div-base">
    
        <div class="col s12 m12 l3" id="div-avatar">

            <ul class="collection z-depth-0">
            
                <li class="collection-item">
            
                    <div class="row">
            
                        <div class="col s12 center">
            
                            <span class="avatar-status-student avatar-online center responsive-img">{{ user[0].usu_initial }}</span>
                        </div>
                    </div>
            
            
                    <div class="row">
            
                        <div class="col s12 center">
            
                            {{ user[0].usu_name_first | capitalize }} {{ user[0].usu_name_last | capitalize }}
                        </div>
                    </div>
                </li>
            
                <li class="collection-item">
            
                    <div class="row">
            
                        <div class="col s5">
            
                            <i class="material-icons left">language</i>Language
                        </div>
                        <div class="col s7 right-align">{{ user[0].lan_description }}</div>
                    </div>
                </li>
            
                <li class="collection-item">
            
                    <div class="row">
            
                        <div class="col s5">
            
                            <i class="material-icons left">work</i>Professional
                        </div>
                        <div class="col s7 right-align">{{ user[0].prof_description }}</div>
                    </div>
                </li>
            </ul>

        </div>

        <div class="col s12 m12 l9">

            <div class="row">
            
                <form class="col s12 l10">
                    
                    <div class="col l6">

                    <h6 class="grey-text">{{user[0].usu_name_first|capitalize}}'s Details.</h6>                    
                    </div>         

            
                    <div class="col s12 m12 l12" style="padding-top: 12px;">
            
                        <input type="hidden" id="usu_id" value="{{ user[0].usu_id }}">

                        <div class="row">
            
                            <div class="input-field col s12 m12 l5">
                                <input disabled id="first_name" name="first_name" type="text" class="validate" value="{{ user[0].usu_name_first | capitalize }}"
                                    autocomplete="off">
                                <label for="first_name">First Name</label>
                            </div>
            
                            <div class="input-field col s12 m12 l5">
            
                                <input disabled id="last_name" name="last_name" type="text" class="validate" value="{{ user[0].usu_name_last | capitalize }}"
                                    autocomplete="off">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
            
            
                        <div class="row">
            
                            <div class="input-field col s12 m12 l5">
            
                                <input disabled id="email" name="email" type="email" class="validate" value="{{ user[0].usu_email}}" autocomplete="off">
                                <label for="email">Email</label>
                            </div>

                            <div class="input-field col s12 m6 l2">
                            
                                <input disabled id="usu_dt_birth" name="usu_dt_birth" type="text" class="validate" value="{{ user[0].usu_dt_birth }}" autocomplete="off">
                                <label for="usu_dt_birth">Date of Birth
                                    <span class="mini-text">MM/DD/YYYY</span>
                                </label>
                                <span class="right grey-text" style="font-size: 12px;">{% if user[0].usu_age is not empty %}{{ user[0].usu_age }} years old {% endif %}</span>
                            </div>

                            <div class="input-field col s12 m6 l2 offset-l1">
                            
                                <input disabled id="usu_gender" type="email" class="validate" value="{{ user[0].usu_gender}}" autocomplete="off">
                                <label for="usu_gender">Gender</label>
                            </div>
                        </div>
                    </div>
                </form>            
            </div>




            <!-- <div class="row">

                <form class="col s12 l9">

                    <div class="row">

                        <div class="col l6">
                        
                            <h6 class="grey-text">List of Coupons.</h6>
                        </div>

                        <div class="col l6">

                            <a 
                                id="btnSendCoupon"
                                class="waves-effect waves-light btn gradient-45deg-green-teal z-depth-4 right" >New Cupon                                
                            </a>
                        </div>
                    </div>

                    
                    <div class="row" style="margin-top: -18px;">

                        <div class="col l12">
                        
                            <ul class="collection z-depth-0">
                        
                                <table class="highlight" id="tblCouponsList">
                        
                                    <thead class="gradient-45deg-deep-grey">
                                        <tr>
                                            <th width="45%">Course</th>
                                            <th class="center" width="10%">Generated</th>
                                            <th class="center" width="15%">Days Expired</th>
                                            <th class="center" width="15%">Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                        
                                    <tbody>
                        
                                        {% for coupon in FListStudentsCoupons(user[0].usu_id)%}
                        
                                        <tr>
                        
                                            <td width="30%">
                                                <span style="font-weight: bold;">{% if coupon.cat_description is not empty %}{{coupon.cat_description}} - {% endif %}</span>{{ coupon.cour_name }}</td>
                                            <td width="10%" class="center"> {{ coupon.dt_generated }} </td>
                                            <td width="15%" class="center">
                                                {% if date(coupon.dt_generated) < date("-30 days") %}
                                                
                                                    <span class="red-text">{{ coupon.days_expiration }} days</span> 
                                                {% else %}
                                                    <span class="green-text">0</span>
                                                {% endif %}
                                            </td>
                        
                                            {% if coupon.cou_status == 'EXPIRED' %}
                                                
                                                <td class="center" width="15%">
                                                    <a data-id="{{ coupon.cou_id }}" class="btn waves-effect waves-light red accent-2">Expired </a>
                                                </td>
                                            {% elseif coupon.cou_status == 'ACTIVE' %}
                                                <td class="center" width="15%">
                                                    <span class="green-text">{{ coupon.cou_status}}</span>
                                                    <i class="material-icons right green-text">open_in_browser</i>
                                                </td>
                                            {% elseif coupon.cou_status == 'USED' %}
                                                <td class="center" width="15%">
                                                    <span class="blue-text">{{ coupon.cou_status}}</span>
                                                    <i class="material-icons right green-text">check</i>
                                                </td>
                                            {% endif %} 
                                            {% if coupon.cou_status != 'USED' %}
                                                <td width="15%" class="center">
                                                    <a
                                                        data-id="{{ coupon.cou_id }}" 
                                                        class="btnDeleteCoupon btn waves-effect waves-light gradient-45deg-purple-deep-orange gradient-shadow">Delete </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>                        
                            </ul>
                        </div>
                    </div>
                </form>
            </div> -->




            <div class="row">            
   
                <div class="col s9">

                    <table id="TblNotifications" class="responsive-table display dataTable gradient-45deg-deep-grey" style="width:100%">
                        <thead>
                            <tr>
                                <th width="15%">Type</th>
                                <th width="30%">Notification</th>
                                <th width="30%">Description</th>
                                <th width="15%">Date</th>
                                <th width="15%">Status</th>
                                <th class="center" width="15%"></th>    
                            </tr>
                        </thead>                    
                    </table>

                    <a id="btnSendCoupon" class="waves-effect waves-light btn gradient-45deg-green-teal z-depth-4 left" style="width:226px;">New
                        Notification</a>
                </div>                
            </div>


            <div class="row">
            
            
                <div class="col s9">
            
                    <table id="TblCouponsTest" class="responsive-table display dataTable gradient-45deg-deep-grey" style="width:100%">
                        <thead>
                            <tr>

                                <th width="40%">Course</th>
                                <th class="center" width="15%">Coupon</th>
                                <th class="center" width="10%">Generated</th>
                                <th class="center" width="10%">Expired</th>
                                <th class="center" width="15%">Status</th>
                                <th class="center" width="15%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div> <!-- col s12 m12 l9  -->
    </div>







<!-- Modal Structure -->
<div id="mdCourses" class="modal modal-fixed-footer">

    <div class="modal-content">

        <ul class="collection z-depth-0">

            <h6 style="padding-left: 12px;">Select a Course</h6>
        </ul>


            <table class="display" id="tblCoupons">
            
                <thead class="gradient-45deg-deep-grey">
                    <tr>
                        <th width="100%">Course Name</th>
                    </tr>
                </thead>

                <tbody>

                    <form id="frmCheckSelection">                        
                       
                        {% for Courses in FcoursesList() %}
 
                            <tr>

                                <td width="100%">
                                    
                                    <span>
                                        
                                        <label>

                                            <input 
                                                data-user-id="{{user[0].usu_id}}" 
                                                data-id="{{ Courses.cour_id }}" 
                                                data-cour-desc="{{ Courses.cour_name }}"
                                                class="with-gap" 
                                                name="group1" 
                                                type="radio" />
                                            <span style="font-weight: bold;">{% if Courses.cat_description is not empty %}{{Courses.cat_description}} - {% endif %}<span style="font-weight: normal;">{{ Courses.cour_name }}</span></span>                                                   
                                        </label>                                        
                                    </span>                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </form>
                </tbody>
            </table>        
        
    </div>
    <div class="modal-footer">
        
        <a  disabled
            href="#" 
            id="btnSendingCoupon" 
            class="modal-close btn waves-effect waves-light green darken-1">Send</a>
    </div>
</div>












{% endblock %}

{% block footer %}

    <script src="{{ site_url() }}/assets/js/Admin/StudentsDetails.js"></script>

    <script type="text/javascript" src="{{ site_url() }}/assets/js/maskedinput.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}