{% extends 'site_layout.html' %} {% block head %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ site_url() }}/assets/css/Site/site_forgotpw.css"> {% endblock %} {% block site_content %}


    <div class="container" id="div-title">


        <div class="col s12 m12 l12">

            <h4 class="center h4-title">Forgot password.</h4>
        </div>

        <div class="col s12 m12 l12" id="div-subtitle">

            <p class="center p-title flow-text">

                To change your password, place your email below, by doing this you will receive in your email the instructions to change,
                we do it for your security, so only you can change your password.
            </p>
        </div>

        <div class="row"></div>


    </div>


{% endblock %} 

{% block footer %}

    <script src="{{ site_url() }}/assets/js/Site/site_forgotpw.js"></script>
    
{% endblock %}