{% extends 'site_dashboard.html' %} 

{% block head %} 

    {{ parent() }}
    
    <link rel="stylesheet" type="text/css" href="{{ site_url() }}/assets/css/Instructors/MyCoursesNewCategory.css"> 


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    
{% endblock %} 


{% block site_content %}


<div class="container">


    <div class="row">

        <div class="col l12">

            <h5 class="grey-text right" id="txtTitle">Create a New Category</h5>
        </div>
    </div>


    <div class="row">
    
        <div class="col s12 m12 l12">
    
            <div class="row">
    
                <ul class="collection z-depth-0 gradient-45deg-deep-grey section scrollspy" id="div-profile">
    
                    <h6 class="txt-title green-text"><strong>Category</strong> - Info.</h6>
                </ul>
            </div>

            <div class="row">
            
                <form action="MyCoursesUpdateCategory/store" method="POST" accept-charset="utf-8">

                    <input type="hidden" name="pType" value="1">

                    <div class="row">
                    
                        <div class="input-field col l8">                    
                            
                            <input id="cat_description" name="cat_description" type="text" class="required" autocomplete="off">
                            <label for="cat_description">Category Name</label>

                            <span id="ErrorMsg" class="right"></span>
                    
                            {{ errorField('cat_description') | raw }}
                        </div>
                    </div>


                    <div class="row">
                    
                        <div class="input-field col l12">
                            <span class="grey-text"><b>Category Description</b></span>
                            <textarea id="cat_text" name="cat_text" class="ckeditor" height="300px"></textarea>
                        </div>
                    </div>


                    <div class="fixed-action-btn">
                    
                        <button type="submit" class="btn-floating btn-large red" id="btnSave">
                            <i class="large material-icons">save</i>
                        </button>
                    </div>
                </form>


                {{ FMessage('saved') | raw }}
            </div>
        </div>
    </div>
</div>


{% endblock %} 

{% block footer %}

    {{ parent() }}

    <script src="{{ site_url() }}/assets/js/Instructors/inst_MyCoursesNewCategory.js"></script>

    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    

    <script>

            CKEDITOR.replace('cat_text');
            CKEDITOR.add
    </script>
{% endblock %}