{% extends 'site_dashboard.html' %} 

{% block head %} 

    {{ parent() }}
    
    <link rel="stylesheet" type="text/css" href="{{ site_url() }}/assets/css/Instructors/MyCourses.css"> 


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    
{% endblock %} 


{% block site_content %}


    <input type="hidden" name="usu_id" id="usu_id" value="{{ UserData.usu_id }}">


    <div class="container">
    
        <div class="row">

            <div class="col s12 m12 l12">
            
                <h5 class="grey-text right">List of My Courses</h5>
            </div>
        </div>


        <div class="row">

            <div class="col s12 m12 l12">

                <table id="TblCourses" class="responsive-table display dataTable  gradient-45deg-deep-grey" style="width:100%">
                    <thead>
                        <tr>

                            <th width="10%">Category</th>
                            <th width="40%">Course Title</th>                            
                            <th width="10%" class="center">Featured</th>
                            <th width="10%" class="center"></th>
                            <th width="10%" class="center"></th>
                            <th width="10%" class="center"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="row">

            <div class="col l12">

                <a href="/MyCoursesNew" class="btn gradient-45deg-amber-amber gradient-shadow">Create New Course</a>
            </div>
        </div>
    </div>



{% endblock %} 

{% block footer %}

    {{ parent() }}

    <script src="{{ site_url() }}/assets/js/Instructors/inst_MyCourses.js"></script>

    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
    

    <script>
        
        ClassicEditor            
            .create(document.querySelector('#txtCourseDesc'))
    </script>
{% endblock %}