{% extends 'site_dashboard.html' %} 

{% block head %} 

    {{ parent() }}
    
    <link rel="stylesheet" type="text/css" href="{{ site_url() }}/assets/css/Instructors/MyProfile.css">
    
{% endblock %} 


{% block site_content %}

<div class="container">

    <div class="row">

        <div class="col s12 m12 l12">
        
            <div class="row">
        
                <ul class="collection z-depth-0 gradient-45deg-deep-grey section scrollspy" id="div-profile">
        
                    <h6 class="txt-title green-text">Profile - Add information about yourself.</h6>
                </ul>
            </div>
        </div>
    </div>


    <div class="row">

        <form class="col s12 l12" method="POST" action="MyProfile/Save">
        
            <input type="hidden" name="usu_id" id="usu_id" value="{{ UserData.usu_id }}">

            <div class="col s12 m12 l6">

                <div class="row">
                
                    <div class="input-field col s12 m12 l8">
                
                        <input id="usu_name_first" name="usu_name_first" type="text" class="validate count" value="{{ UserData.usu_name_first }}"
                            autocomplete="off" data-length="45">
                        <label for="usu_name_first">First Name</label>
                
                        {{ errorField('first_name') | raw }}
                    </div>
                </div>
                
                
                <div class="row">
                
                    <div class="input-field col s12 m12 l8">
                
                        <input id="usu_name_last" name="usu_name_last" type="text" class="validate count" value="{{ UserData.usu_name_last }}"
                            autocomplete="off" data-length="45">
                        <label for="usu_name_last">Last Name</label>
                
                        {{ errorField('last_name') | raw }}
                    </div>
                </div>
                
                
                <div class="row">
                
                    <div class="input-field col s12 m12 l10">
                
                        <input id="usu_headline" name="usu_headline" type="text" class="validate count" value="" autocomplete="off"
                            data-length="100">
                        <label for="usu_headline">Professional Headline</label>
                
                        {{ errorField('usu_headline') | raw }}
                    </div>
                </div>
                
                
                <div class="row">
                
                    <div class="row" style="padding-top:32px; padding-left: 12px;">
                
                        <div class="col l12">
                
                            <span class="grey-text">Add your Professional Skills<span class="mini-text"> Type/Select a Skill (Press
                                    Enter)</span></span>
                            <div class="chips chips-autocomplete" id="ProfessionalSkills"></div>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">

                    <div class="input-field col s12 m12 l11">
                    
                        <input id="usu_twiter_account" name="usu_twiter_account" type="text" class="validate" value="" autocomplete="off"
                            data-length="255">
                        <label for="usu_twiter_account">Twiter Account</label>
                    
                        {{ errorField('usu_twiter_account') | raw }}
                    </div>
                </div>


                <div class="row">
                
                    <div class="input-field col s12 m12 l11">
                
                        <input id="usu_facebook_account" name="usu_facebook_account" type="text" class="validate" value="" autocomplete="off"
                            data-length="255">
                        <label for="usu_facebook_account">Facebook Account</label>
                
                        {{ errorField('usu_facebook_account') | raw }}
                    </div>
                </div>


                <div class="row">
                
                    <div class="input-field col s12 m12 l11">
                
                        <input id="usu_youtube_account" name="usu_youtube_account" type="text" class="validate" value="" autocomplete="off"
                            data-length="255">
                        <label for="usu_youtube_account">Youtube Account</label>
                
                        {{ errorField('usu_youtube_account') | raw }}
                    </div>
                </div>

                <div class="fixed-action-btn">
                    
                    <a class="btn-floating btn-large green" id="btnSave">
                        <i class="large material-icons">save</i>                         
                    </a>
                </div>
            </div>



            <div class="col s12 m12 l6">

                <div class="col s12 m8 l12">

                    <div class="card-panel grey lighten-5 z-depth-1">

                        <div class="row valign-wrapper">

                            <div class="col s2">

                                <img id="img-instructor" data-src="{{ site_url() }}/" 
                                    src="{% if UserData.usu_avatar == '' %} {{ site_url() }}/assets/images/no_avatar.svg {% else %} {{ site_url()}}/assets/images/{{UserData.usu_avatar}} {%endif%}"  
                                    class="circle responsive-img">
                            </div>

                            <div class="col s10">

                                <span class="black-text">Add your picture<br/>Acceptable formats: <strong>.jpg .jpeg .png .svg</strong></span>
                            </div>
                        </div>
                    </div>
                </div>


                <form action="#">

                    <div class="file-field input-field">

                        <div class="btn">

                            <span>File</span>
                            <input type="file" id="picture-file" data-src="{{ site_url() }}/" accept="image/*">
                        </div>

                        <div class="file-path-wrapper">

                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
            </div>

            
            <div class="row">
            
                <div class="input-field col l11" style="padding-left: 12px;">
                    <span class="grey-text">Author Self description</span>
                    <textarea id="txtAuthorDescription" name="txtRequirementDesc" class="ckeditor" height="200px"></textarea>
                </div>
            </div>
            
            

        </form>
    </div>
</div>







{% endblock %} 

{% block footer %}

    {{ parent() }}

    <script src="{{ site_url() }}/assets/js/Instructors/inst_MyProfile.js"></script>

    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>

    <script type="text/javascript">

        CKEDITOR.replace('txtAuthorDescription');
        CKEDITOR.add
    </script>
{% endblock %}